* {
  box-sizing: border-box;
  
}
.zdex {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }


  .zdexx{
    margin-top: 250px;
  }
  .container {
    position: relative;
   
  }
  
  .black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box {
    position: absolute;
    z-index: 3; /* gray box will be above both green and black box */
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .green-box {
    position: absolute;
    z-index: 2; /* green box will be above black box */
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  }

  .container1 {
    position: relative;
  }
  
  .black-box1 {
    position: relative;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box1 {
    position: absolute;
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .green-box1 {
    position: absolute;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  }

  #overflowTest {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
    
  }
 
  #visible {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: visible;
    margin-bottom: 200px;
  }
  #hidden {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow: hidden;
  }
 
  #overf {
    background-color: coral;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
  }
  #o-auto {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow: auto;
  }
  #xy {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #pine {
    float: right;
  }
  #pine1 {
    float: left;
  }
  #pine2 {
    float:none;
  }

  .di {
    float: left;
    padding: 15px; 
  }
  
  .div-1 {
    background: red;
  }
  
  .div-2 {
    background: yellow;
  }
  
  .div-3 {
    background: green;
  }

  .dii {
    float: right;
    padding: 15px; 
  }
  
  .div1 {
    background: red;
  }
  
  .div2 {
    background: yellow;
  }
  
  .div3 {
    background: green;
    
  }
  #wc{
    margin-top: 100px;
  }

  .div4 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  
  }
  
  .div5 {
    padding: 10px;
    border: 3px solid red;
  }
  
  .div6 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .div7 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
  }

  .cler {
    border: 3px solid #4CAF50;
    padding: 5px;
  }
  
  .img1 {
    float: right;
  }
  
  .img2 {
    float: right;
  }
  
  .clearfix {
    overflow: auto;
  }

  /* div {
    border: 3px solid #4CAF50;
    padding: 5px;
  } */
  
  .img3 {
    float: right;
  }
  
  .img4 {
    float: right;
  }
  
  .clearfix1::after {
    content: "";
    clear: both;
    display: table;
  }

  /* In this part we are going to apply global box sizing. Uncomment the box sizing and see what changes the output in this part grid of boxes */
  .box {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  .clearfix2::after {
    content: "";
    clear: both;
    display: table;
  }
/* In this part we are going to apply global box sizing. Uncomment the box sizing and see what changes the output in this part grid of boxes */
  .img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .clearfix3::after {
    content: "";
    clear: both;
    display: table;
  }

  .box1 {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
  }
  
  .clearfix4::after {
    content: "";
    clear: both;
    display: table;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container .box2 {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  #navs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navs {
    float: left;
  }
  
  .na {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .na:hover {
    background-color: #111;
  }
  
  .active {
    background-color: red;
  }


  /* * {
    box-sizing: border-box;
  } */
  body {
    background-color: white;
  }
  .header{
    margin-top: 70px;
  }
  .header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
  }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .clearfix5::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .menu {
    width: 25%;
  }
  
  .content {
    width: 75%;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
  }

  span.a {
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;  
    background-color: yellow; 
  }
  
  span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }
  
  span.c {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }

  .navz {
    background-color: yellow; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .navz li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  .h-center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .h1-center {
    /* margin: auto; */
    /* width: 90%; */
    text-align: center;
    border: 3px solid green;
  }
  .paris {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  
  .right1{
    margin-top: 140px;
  }
  .right2 {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
   
  }
  .cvwp{
    margin-top: 150px;
  }
  .center1 {
    padding: 70px 0;
    border: 3px solid green;
  }
  .center2 {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }
  .center3 {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }
  
  .center3 p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }
  .center4 { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
  }
  
  .center4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .center5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }
  #combi p {
    background-color: yellow;
  }
  #combi1 > p {
    background-color: yellow;
  }
  .combi2 + p {
    background-color: yellow;
  }
  #tilde ~ .til {
    background-color: yellow; 
  }
  /* unvisited link */
.pseudo:link {
  color: red;
}

/* visited link */
.pseudo:visited {
  color: green;
}

/* mouse over link */
.pseudo:hover {
  color: hotpink;
}

/* selected link */
.pseudo:active {
  color: blue;
}
a.highlight:hover {
  color: #ff0000;
  font-size: 22px;
} 

#pseudo1 {
  background-color: green;
  color: white;
  padding: 25px;
  text-align: center;
}

#pseudo1:hover {
  background-color: blue;
}

.pseudo3 {
  display: none;
  background-color: yellow;
  padding: 20px;
}
.pseudo2 {
  font-size: 30px;
}

#pseudo2:hover p {
  display: block;
  
}
.pe:first-child {
  color: blue;
} 

.pe i:first-child {
  color: rgb(255, 115, 0);
} 
.pe1:first-child i {
  color: blue;
} 

q:lang(no) {
  quotes: "~" "~";
  color: #e80ebd;
}
.pseudo-e::first-line {
  color: #ff0000;
  font-variant: small-caps;
}

.y::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
p.intro::first-letter {
  color: #ff0000;
  font-size: 200%;
}  
.combine::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

.combine::first-line {
  color: #0000ff;
  font-variant: small-caps;
}
.smiley::before {
  content: url(smiley.gif);
}
.smiley1::after {
  content: url(smiley.gif);
}

::marker { 
  color: red;
  font-size: 23px;
}
::selection {
  color: red;
  background: yellow;
}
.opac {
  opacity: 0.5;
  /* opacity: 0.2; */
  /* opacity: 1; */
}
.transpa {
  opacity: 0.5;
}

.transpa:hover {
  opacity: 1.0;
}
.trans:hover {
  opacity: 0.5;
}
.bg {
  background-color: #04AA6D;
  padding: 10px;
}

.first {
  opacity: 0.1;
}

.second {
  opacity: 0.3;
}

.third {
  opacity: 0.6;
}


.bg1 {
  background: rgb(4, 170, 109);
  padding: 10px;
}

.first {
  background: rgba(4, 170, 109, 0.1);
}

.second {
  background: rgba(4, 170, 109, 0.3);
}

.third {
  background: rgba(4, 170, 109, 0.6);
}
div.background {
  background: url(klematis4_big.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

ul.nbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.nbar1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a.navb {
  display: block;
  width: 60px;
  background-color: #dddddd;
}
ul.nbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
} 

li a.r2 {
  display: block;
  background-color: #dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

ul.nbar3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #cc93c0;
}

li a.r3 {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration:underline;
}

/* Change the link color on hover */
li a.r3:hover {
  background-color: #32051a;
  color: white;
}

ul.nbar4 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a.r4 {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a.r4:hover:not(.active) {
  background-color: #555;
  color: white;
}

ul.nbar5 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a.r5 {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li.r5-5 {
  text-align: center;
  border-bottom: 1px solid #555;
}

li.r5-5:last-child {
  border-bottom: none;
}

li a.active1 {
  background-color: #04AA6D;
  color: white;
}

li a.r5:hover:not(.active) {
  background-color: #555;
  color: white;
}


a.page3{
  color: #040002;
  font-size:x-large;
  
}
.sp{
  color: #f72525;
  font-size:medium;
}